[data-trc-button] {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

[data-trc-button]:disabled {
  color: #ccc !important;
  cursor: not-allowed;
}

[data-trc-button--primary] {
  background-color: deepskyblue;
  color: white;
}

[data-trc-button--success] {
  background-color: green;
  color: white;
}

[data-trc-button--warning] {
  background-color: sandybrown;
  color: white;
}

[data-trc-button--danger] {
  background-color: crimson;
  color: white;
}

[data-trc-button--minimal] {
  background-color: transparent;
}

[data-trc-button--minimal][data-trc-button--primary] {
  color: deepskyblue;
}

[data-trc-button--minimal][data-trc-button--success] {
  color: green;
}

[data-trc-button--minimal][data-trc-button--warning] {
  color: sandybrown;
}

[data-trc-button--minimal][data-trc-button--danger] {
  color: crimson;
}
