* {
  font-family: system-ui, -apple-system;
  font-size: 16px;
}

[data-trc-modal] {
  border-radius: 8px;
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

[data-trc-modal--entering] {
  transform: scale(0) rotate(45deg);
}

[data-trc-modal--entered] {
  transform: scale(1) rotate(0deg);
  transition: transform 300ms ease-in;
}

[data-trc-modal--exited] {
  transform: scale(0.1) rotate(-45deg);
  transition: transform 300ms ease-out;
}

[data-trc-modal-header] {
  padding: 0 16px;
  height: 48px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-trc-modal-header__title] {
  font-weight: bold;
}

[data-trc-modal-header__close] {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
}

[data-trc-modal-header__close] {
  background-color: #eaeaea;
}

[data-trc-modal-body] {
  padding: 16px;
}

[data-trc-modal-body--fixed-height] {
  max-height: 80px;
  overflow-y: auto;
}

[data-trc-modal-footer] {
  padding: 8px 16px;
  background-color: #fafafa;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
}

[data-trc-modal-footer] > * + * {
  margin-right: 8px;
}
