[data-trc-overlay] {
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 10%, 0.5);
}

[data-trc-overlay--entering] {
  opacity: 0;
}

[data-trc-overlay--entered] {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

[data-trc-overlay--exiting] {
  opacity: 1;
}

[data-trc-overlay--exited] {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
